<h1>Listing images</h1>

<table>
  <thead>
    <tr>
      <th>Picture</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image_tag image.picture %></td>
        <td><%= image.name %></td>
        <td><%= link_to 'Show', place_image_path(image.place.id, image.id) %></td>
        <td><%= link_to 'Edit', edit_place_image_path(image.place.id, image.id) %></td>
        <td><%= link_to 'Destroy', place_image_path(image.place.id, image.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_place_image_path %>
