<div class="text-center">
  <h1>Listing images</h1>
</div>
<% @images.each_slice(3) do |slice| %>
  <div class="row">
  <% slice.each do |image| %>
    <div class="col-md-4">
      <div class="well">
        <%= link_to place_image_path(image.place.id, image.id) do %>
          <%= image_tag image.picture.large.to_s, class: 'gallery' %>
        <% end %>
        <div class='text-center'><%= image.name %></div>
        <div class='text-right'>
          <%= link_to 'Show', place_image_path(image.place.id, image.id) %>
          <%= link_to 'Edit', edit_place_image_path(image.place.id, image.id) %>
          <%= link_to 'Destroy', place_image_path(image.place.id, image.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
<% end %>
