<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @image.picture_url.to_s %>
</p>

<p>
  <strong><%= t('.place') %></strong>
  <%= @image.place.name %>
</p>

<p>
  <strong><%= t('.name') %></strong>
  <%= @image.name %>
</p>

<%= link_to t(:back), place_images_path %>
