<div class='row'>
  <div class='col-xs-6 col-xs-offset-3'>
    <h1><%= @place.new_record? ? 'New place' : 'Editing place' %></h1>
    <%= form_for(@place) do |f| %>
      <% if @place.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

          <ul>
          <% @place.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label t(:name) %><br>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label t(:width) %><br>
        <%= f.number_field :width, step: :any, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label t(:height) %><br>
        <%= f.number_field :height, step: :any, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label t(:description) %><br>
        <%= f.text_area :description, class: 'form-control' %>
      </div>
      <div class="actions">
        <%= f.submit class: 'btn btn-success btn-lg pull-right' %>
      </div>
    <% end %>
    <% if @place.new_record? %>
      <%= link_to t(:back), places_path %>
    <% else %>
      <%= link_to t(:show), @place %> |
      <%= link_to t(:back), places_path %>
    <% end %>
  </div>
</div>
