<div class='container'>
  <h1>Listing places</h1>

  <div class='row'>
        <div class='col-xs-2 col-md-2'><strong>Name</strong></div>
        <div class='col-xs-2 col-md-2'><strong>Width</strong></div>
        <div class='col-xs-2 col-md-2'><strong>Height</strong></div>
        <div class='col-xs-2 col-md-2'><strong>Description</strong></div>
  </div>
  <% @places.each do |place| %>
    <div class='row'>
      <div class='col-xs-2 col-md-2'><%= place.name %></div>
      <div class='col-xs-2 col-md-2'><%= place.width %></div>
      <div class='col-xs-2 col-md-2'><%= place.height %></div>
      <div class='col-xs-2 col-md-2'><%= place.description %></div>
    </div>
    <div class='row'>
      <div class='col-xs-2'><%= link_to 'Show', place %></div>
      <div class='col-xs-2'><%= link_to 'Edit', edit_place_path(place) %></div>
      <div class='col-xs-2'><%= link_to 'Delete', place, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
  <% end %>

  <div class='row'>
    <%= link_to 'New Place', new_place_path %>
  </div>
</div>
