<div class='container'>
  <div class='row'>
    <div class='col-xs-3'>
      <strong>Name:</strong>
      <%= @place.name %>
    </div>
    <div class='col-xs-3'>
      <strong>Width:</strong>
      <%= @place.width %>
    </div>
    <div class='col-xs-3'>
      <strong>Height:</strong>
      <%= @place.height %>
    </div>
    <div class='col-xs-3'>
      <strong>Description:</strong>
      <%= @place.description %>
    </div>
  </div>
  <div class='row'>
    <%= link_to 'Edit', edit_place_path(@place) %> |
    <%= link_to 'Back', places_path %>
  </div>

  <div class='row'>
    <div id="map"></div>
      <script> nodes = [{ lat: <%= @place.height %>, lng: <%= @place.width %> }] </script>
  </div>


  <div class='row'>
    <% @images.each do |image| %>
      <div class='col-md-3 col-sm-4 col-xs-6'>
        <div class='image'><%= image_tag image.picture.to_s %></div>
        <em><%= image.name %></em>
      </div>
    <% end %>
  </div>
  <div class='row'>
    <%= link_to 'Add image', new_place_image_path(@place.id) %>
  </div>

  <div id='comments' class='row'>
    <%= render @comments %>
  </div>

  <%= form_for @comment, url: place_comments_path(@place), remote: true do |f| %>
    <div class='form group'>
      <%= f.text_area :text, class: 'form-control' %>
    </div>
    <div class='form group'>
      <%= f.submit%>
    </div>
  <% end %>

</div>
