<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Width:</strong>
  <%= @place.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @place.height %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
    <div id="map" style='width: 800px; height: 400px;'></div>
    <script> nodes = [{ lat: <%= @place.width %>, lng: <%= @place.height %> }] </script>
</p>

<p>
  <% @images.each do |image| %>
  <%= image_tag image.picture.to_s %>
  <%= image.name %>
  <% end %>

</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
